input {
  height: 30px;
}

button {
  width: 100px;
  height: 35px;
}

.timer {
  display: flex;
  gap: 10px;
}

.field {
  display: flex;
  flex-direction: column;
}

.value {
  /* font-size: 100%; */
  font-size: 30px;
  width: 100%;
  /* display: flex; */
  text-align: center;
}
.label {
  font-size: 15px;
}
